body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
    width: 100vw;
    
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
  margin: 0;          /* reset any default body margin */
}

/* Let the main section grow to push footer down */
.content {
  flex: 1;
}